body {background-color:#808c97;margin-top: 25px;margin-left: 20px;}
h1 { color:#edbc81;padding:15px;background:#a76b56;width:fit-content;font-family:cursive;font-size:300%;}
p {font-size: 120%;}
font {font-weight: bold;font-size:150%;}
